.property-card {
    display: flex;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 2%;
    padding: 1%;
    width: 75%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.1s ease-in-out;
  }
  .property-card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 

  }
  .property-card-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
  
  .property-card-details {
    padding: 15px;
  }
  
  .property-card-details h3 {
    margin: 0 0 10px;
  }
  
  .property-card-details p {
    margin: 5px 0;
  }
  